* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
}

.container {
  width: 90%;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  margin-bottom: 20px;
}

.search {
  width: 90%;
  margin: 20px auto;
  display: block;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
}

td.nama {
  text-align: left;
  font-weight: 500;
}

.pagination {
  margin-top: 15px;
  text-align: center;
}

button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}

.logout {
  position: absolute;
  right: 20px;
  top: 20px;
  background: crimson;
  color: white;
}

/* ===================== */
/* SIDEBAR */
/* ===================== */
.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background: #1f2937;
  color: #fff;
  padding: 20px 0;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}

.sidebar a {
  display: block;
  padding: 12px 20px;
  color: #e5e7eb;
  text-decoration: none;
  font-size: 15px;
}

.sidebar a:hover,
.sidebar a.active {
  background: #374151;
}

.main {
  flex: 1;
  padding: 20px;
}

/* responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar span {
    display: none;
  }
}

